.ion-text-center {
    color: azure;
}

.bgr-img{
    padding: 1px;
    height: 100%;
    width: 100%;
    background-image: url('../../assets/bgr.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.form{
    padding: 50px;
    margin-top: 50px;
   // background-image: url('../../assets/bg2.jpg')
}

.iconlogin{
    background-image: url('../../assets/register.jpg');

}